:root {
    --black: black;
    --white: white;
    --site-purp1: #d5c9df;
    --site-purp2: #9C7EB4;
    --site-purp3: #49355A;
  }
  
  form {
    background-color: var(--site-purp1);
    border: 2px solid var(--site-purp3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 350px;
    border-radius: 10px;
  }
  
  .contact-form * {
    width: 94%;
    padding: 3%;
    font-size: 16px;
    border: 0;
    background-color: var(--site-purp1);
    margin-top: 10px;
    border-bottom: 2px solid var(--site-purp3);
    border-radius: 5px;
  }
  
  textarea {
    font-family: Roboto, sans-serif;
  }
  
  .contact-form label {
    display: none;
  }
  
  .form-button {
    background-color: var(--site-purp3);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 5px;
  }
