:root {
    --darkblue: #22566D;
    --blue: #3C95B9;
    --lightblue: #C1DFEB;
    --yellow: #F5EE9E;
    --orange: #F49E4C;
    --red: #AB3428;
    --white: #F5F9FA;
    --blackblue: #0A191F;
    --darkerblue: #193E4D;
    scrollbar-gutter: stable;
    scrollbar-color: var(--darkblue) var(--darkerblue);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    color: var(--white);
    background: linear-gradient(175deg, var(--blackblue), var(--darkerblue));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    overflow-x: hidden;
    font-size: 19px;
}

header {
    background-color: var(--blackblue);
    display: flex;
    justify-content: center;
    border-bottom: solid 2px var(--darkerblue);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    width: 90%;
    max-width: 800px;
}

main a {
    color: var(--blue);
    text-decoration: none;
}

main a:hover {
    color: var(--yellow);
}

section:not(:first-of-type) {
    margin-top: 30px;
}

.italic {
    font-style: italic;
}

.project-tile {
    margin-top: 20px;
    height: 280px;
    display: flex;
    align-items: center;
    background-color: var(--darkerblue);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 4px var(--blackblue));
}

.project-img {
    object-fit: cover;
    height: 100%;
    max-width: 375px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.project-text {
    padding: 0px 10px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.project-text h3 {
    font-size: 24px;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}

.project-links a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    width: 150px;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(2px 2px 4px var(--blackblue));
}

.proj-visit-page {
    background-color: var(--lightblue);
    color: var(--blackblue);
}

.proj-view-source {
    background-color: var(--darkerblue);
    color: var(--white);
}

.proj-visit-page:hover,
.proj-view-source:hover {
    background-color: var(--blue);
    color: var(--blackblue);
}

.project-languages {
    margin-top: 10px;
    padding: 0px 4px;
    border: solid 2px var(--darkblue)
}

.project-languages ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
    max-width: 800px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    color: var(--blackblue);
    background-color: var(--blue);
    padding: 2px 5px;
    margin: -2px -5px;
    border-radius: 5px;
}

#home-button {
    font-size: 24px;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 20px;
}

#about-me-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about-me-intro img {
    z-index: -1;
    height: 350px;
    filter: opacity(0.2);
}

#about-me-header {
    position: absolute;
}

#about-me-header h1{
    font-size: 66px;
    line-height: 95%;
    padding-bottom: 30px;
    filter: drop-shadow(2px 2px 4px var(--blackblue));
}

#about-me-text {
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#about-me-text p {
    max-width: 800px;
    filter: drop-shadow(1px 1px 2px var(--blackblue));
    padding: 5px;
}